:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --primary-link-color: #404bbf;
  --secondary-link-color: #f4f4fd;
  --accent-secondary-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-secondary-color);
  color: var(--secondary-color);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------------------HEADER--------------------*/
.logo {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  display: flex;
  margin-right: 76px;
}

.logo-accent-text {
  color: var(--primary-color);
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}
.header-list {
  display: flex;
  column-gap: 40px;
}
.header-link-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.header-link-item:hover,
.header-link-item:focus {
  color: var(--primary-link-color);
}
.header-contacts {
  display: flex;
  column-gap: 40px;
}
.header-contacts-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header-contacts-text:hover,
.header-contacts-text:focus {
  color: var(--primary-link-color);
}
.contacts {
  font-style: normal;
}
/*--------------------MAIN--------------------*/
.main-cap {
  background-color: var(--primary-color);
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-container {
  display: block;
}
.main-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.07em;
  color: var(--accent-secondary-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.main-btn {
  background-color: var(--accent-color);
  cursor: pointer;
  max-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin: 0px auto;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--primary-link-color);
}
.main-btn-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-secondary-color);
}
/*--------------------FEATURE--------------------*/
.feature-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.feature-title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
/*--------------------BOX--------------------*/
.box-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 72px;
}
.box-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
/*--------------------TEAM--------------------*/
.team {
  background-color: var(--secondary-link-color);
}
.team-headline {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 72px;
}
.team-list-img {
  background-color: var(--accent-secondary-color);
}
.team-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  text-align: center;
}
.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: var(--primary-color);
  margin-bottom: 8px;
  margin-top: 32px;
}
.team-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-bottom: 32px;
}

/*--------------------FOOTER--------------------*/
.footer {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-link-color);
  max-width: 264px;
  margin-top: 16px;
}
.footer-accent {
  color: var(--secondary-link-color);
}

/*--------------------PORTFOLIO--------------------*/
.portfolio-btn {
  background-color: var(--secondary-link-color);
  cursor: pointer;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--primary-link-color);
}
.portfolio-btn-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
.portfolio-btn-text:hover,
.portfolio-btn-text:focus {
  color: var(--accent-secondary-color);
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: var(--primary-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.portfolio-pre-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 32px;
}
.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
